@import "./styles/Masonry.css";
@import "./styles/grid.css";

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  background-image: url("/images/HomePage2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h2 {
  margin: 0;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0px;
}

p {
  color: white;
  font-size: x-large;
}

li {
  cursor: pointer;
  vertical-align: top;
}

.nav {
  position: absolute;
  top: 50vh;
  left: 40px;
  width: fit-content;
  text-align: left;
  color: rgb(255, 255, 255);
  font-size: 3vh;
}

li {
  padding: 10px;
}

.interests {
  padding-top: 40%;
}

.links {
  position: absolute;
  right: 20px;
  margin: 0px
}

.link {
  display: inline-block;
}

.aboutme {
  position: relative;
  top: 15%;
  width: 50%;
  margin: auto;
}

.contact {
  position: relative;
  top: 30%;
}

.wechat {
  top: 0;
}

.wechat_qr {
  position: relative;
  left: -15px;
  text-align: left;
  margin-top: 5px;
}

a {
  color: white;
}

.dia_member {
  vertical-align: middle;
  margin: 10px;
}